/*
* Shared CSS throughout the site
*/
* {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.row {
	margin: 0;
}
h1,
h2,
h3 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.light {
	font-weight: 300;
}
.bold {
	font-weight: 700;
}
a {
	color: #A7A7A7; /*darkgray*/
}
a:hover,
a:focus {
	color: #733773; /*purple*/
	opacity: 0.9;
	text-decoration: none;
}
.section-headline {
	text-transform: uppercase;
	font-weight: 700;
}

.flashes {
	list-style: none;
	font-size: 30px;
}

/*Navbar*/
.navbar-default {
	background: #fff;
	border: none;
	color: #A7A7A7; /*gray*/
	margin-bottom: 0;
}
.navbar-default .navbar-nav a.btn-nav {
	background: #733773; /*purple*/
	color: #fff;
	margin-right: -15px;
}
.navbar-default .navbar-nav a.btn-nav:hover {
	color: #733773; /*purple*/
	opacity: 0.9;
}
.navbar-default .navbar-brand {
	color: #4A4A4A; /*darkgray*/
}
.navbar-logo {
	float: left;
	padding: 10px;
	margin-top: -15px;
}

/*Footer*/
footer {
	background: #733773; /*purple*/
	min-height: 560px;
	color: #fff;
	margin-top: 80px;
	padding: 40px;
}
@media (min-width: 992px) {
	footer {
		min-height: 410px;
	}
}
footer .btn-footer {
    background: #c35cc3; /*lightpurple*/
	margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
}
footer .btn-footer:hover {
	background: #fff;
	color: #733773; /*purple*/
	opacity: 0.9;
}
footer li {
	list-style: none;
}
footer li a {
	color: #fff;
}
footer li a:hover {
	color: #fff;
	opacity: .8;
	text-decoration: none;
}

/*Buttons*/
.btn {
	font-weight: 700;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 0.5px;
    background: #fff;
    color: #733773; /*purple*/
    border-radius: 0;
    box-shadow: 0px 0px 4px 2px rgba(100,100,100,0.2);
}
.btn:hover {
	color: #fff;
	background: #733773; /*purple*/
	opacity: 0.9;
}
.controls .btn {
	margin-top: 10px;
    margin-bottom: 20px;
}
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	border-color: #733773; /*purple*/
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background-color: #733773; /*purple*/
}

/*Colors*/
/*
*
* #FFC964 lightpeach
* #F1B23B peach
* #E98300 orange
*
* #C35CC3 lightpurple
* #733773 purple
* #3E1D3E darkpurple
*
* #BBBBBB lightgray
* #A7A7A7 gray
* #4A4A4A darkgray
*
*/

#form-page {
	background: #EDECEE;
	text-align: center;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 60px;
}
#form-page div {
	margin-top: 20px;
}
#form-page .link {
	margin: 0;
}
#form-page #card-element {
	background: #fff;
	border: 1px solid rgb(238, 238, 238);
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px 5px 10px;
}
#form-page .register-org {
	margin-top: 50px;
}
#form-page .section {
	min-height: 400px;
}
