/*
* Shared CSS throughout the site
*/
* {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.section-headline {
	text-transform: uppercase;
}

/*Navbar*/
.navbar-default {
	background: beige;
	border: none;
}

/*Buttons*/
.btn {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1.5px;
    background: purple;
    color: #fff;
    border-radius: 0;
    box-shadow: 0px 0px 4px 2px rgba(255,255,255,0.2);
}
.btn:hover {
	color: #fff;
	background: purple;
	opacity: 0.9;
}

/*Colors*/
/*

#FFC964 lightpeach
#F1B23B peach
#E98300 orange
#733773 purple
#3E1D3E darkpurple

#BBBBBB lightgray
#A7A7A7 gray

*/
#form-page {
	text-align: center;
}

