<!doctype HTML>

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/sections.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<!-- <link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff"> -->
<!--   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">
        	<img src="/static/images/choice-starter-logo.png" height="50" class="navbar-logo" />
        	ChoiceStarter
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="{{ url_for('about') }}">About</a></li> -->
        {% if g.user.is_authenticated %}
          <li><a href="{{ url_for('register') }}">Join</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.username }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('my_donations') }}">My Donations</a></li>
                <li><a href="{{ url_for('manage_orgs') }}">Manage Organizations</a></li>
              <li><a href="{{ url_for('account') }}">Account</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ url_for('register') }}">Join</a></li>
          <li><a href="{{ url_for('login_get') }}">Login</a></li>
          <li><a href="{{ url_for('donate') }}" class="btn btn-nav">Donate</a></li>
        {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Flash messages -->

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div>
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% endwith %}


 	<div class="row">
  	{% block content %}{% endblock %}
 	</div>

	<footer>
 		<div class="col-md-10 col-md-offset-1 text-center">
 			<h2>Stay connected to the cause.</h2>
 			<p>Hear how your donation makes a difference in communities that are most at stake. </p>
 			<li><a href="{{ url_for('register') }}" class="btn btn-footer">Join</a></li>
 		</div>
 		<div class="col-md-8 col-md-offset-2">
	 		<div class="col-xs-12 col-md-4">
	 			<ul>
	 				<li><a href="#">Explore</a></li>
	 				<li><a href="#">Community</a></li>
	 			</ul>
	 		</div>
	 		<div class="col-xs-12 col-md-4">
	 			<ul>
	 				<li><a href="#">FAQ</a></li>
	 				<li><a href="#">Blog</a></li>
	 				<li><a href="#">Partner with Us</a></li>
	 				<li><a href="#">Contact Us</a></li>
	 				<li><a href="#">Help</a></li>
	 			</ul>
	 		</div>
	 		<div class="col-xs-12 col-md-4">
	 			<ul>
	 				<li>San Francisco, CA</li>
	 				<li>contact@choicestarter.com</li>
	 			</ul>
	 		</div>
	 	</div>
	</footer>
</body>


<!-- jQuery and bootstrap -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.4.1/jquery.mark.es6.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>


{% block script %}{% endblock%}

</html>
