{% extends "base.html" %}
{% block content %}

<div id="form-page">

    <form action="/charge" method="post" id="payment-form">
  <div class="form-row">
            {% if no_payment_saved is sameas true %}

    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>
      {% endif %}
    <div>
      <label for="amount">Amount</label>
      <input type="number" id="amount">
    </div>

    <!-- Used to display Element errors -->
    <div id="card-errors"></div>
  </div>

  <button>Submit Payment</button>
</form>

</div>

{% endblock %}

{% block script %}

{% if no_payment_saved is sameas true %}

<script type="text/javascript">
function stripeTokenHandler(token, amount) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  var hiddenInput2 = document.createElement('input');
  hiddenInput2.setAttribute('type', 'hidden');
  hiddenInput2.setAttribute('name', 'amount');
  hiddenInput2.setAttribute('value', amount);

  form.appendChild(hiddenInput);
  form.appendChild(hiddenInput2);
  alert(amount);


  // Submit the form
  form.submit();
}

  // Create a Stripe client
var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');

alert("block is running");
// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontFamily: 'Helvetica Neue',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  const displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

alert("important block is running");
// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      var amount = document.getElementById('amount').value;
      alert(amount);
      stripeTokenHandler(result.token, amount);
    }
  });
});
</script>

{% else %}
<script type="text/javascript">
    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        var amount = document.getElementById('amount').value;

        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', 'bogus');
        var hiddenInput2 = document.createElement('input');
        hiddenInput2.setAttribute('type', 'hidden');
        hiddenInput2.setAttribute('name', 'amount');
        hiddenInput2.setAttribute('value', amount);

        form.appendChild(hiddenInput);
        form.appendChild(hiddenInput2);
        form.submit();
    });
</script>

{% endif %}

{% endblock %}
