{% extends "base.html" %}
{% block content %}

<form action="" method=post class="form-horizontal">
    <h2>Forgot your password?</h2>

    <h3>No worries.  We'll send your username and password to your email.</h3>
    
    <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
  </form>

{% endblock %}