{% extends 'base.html' %}
{% block title %}Choice Starter{% endblock %}
{% block content %}

<div class="container col-xs-12">

	<header class="section-hero">
 		<h1 class="hero-headline text-center">choiceStarter</h1>
 		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
 			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
 		</div>
 		<div class="logo-graphic-wrapper">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 390 306" id="logo-graphic" class="graphic logo-graphic">
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M32.1,21.3c0,0-86.1,112.6,46.2,150.1L32.1,21.3z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M79.3,171.1C167.6,65.7,33.1,21,33.1,21L79.3,171.1z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M117.7,19.6c0,0-132.6,50.3-39.9,151.9L117.7,19.6z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M78.7,171.7c130.6-43,39.9-151.9,39.9-151.9L78.7,171.7z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M15.1,50.1c0,0-55.2,109.7,63.4,120.4L15.1,50.1z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M79.2,170.1C137.5,66.2,15.8,49.7,15.8,49.7L79.2,170.1z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M134.8,46.1c0,0-120.6,23-56.9,123.6L134.8,46.1z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M78.7,170.1c117.9-17,56.9-123.6,56.9-123.6L78.7,170.1z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M77,5c0,0-122,87,0,166V5z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
				<path fill="none" data-duration="200" data-delay="100" stroke="#000" stroke-width="2" stroke-miterlimit="10" d="M78,171C200,92,78,5,78,5V171z" style="stroke-dasharray: 4000px, 5400px; stroke-dashoffset: 0px;" />
			</svg>
 		</div>
 	</header>
 	<section class="section-about">
 		<div class="col-md-10 col-md-offset-1">
	 		<div class="col-xs-12 col-md-4">
	 			<div class="shadow-container col-xs-12"></div>
	 			<div class="description-about col-xs-12">
	 				<h2 class="section-headline text-center">who we are</h2>
	 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
	 			</div>
	 		</div>
	 		<div class="col-xs-12 col-md-4">
	 			<div class="shadow-container col-xs-12"></div>
	 			<div class="description-about col-xs-12">
	 				<h2 class="section-headline text-center">who we are</h2>
	 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
	 			</div>
	 		</div>
	 		<div class="col-xs-12 col-md-4">
	 			<div class="shadow-container col-xs-12"></div>
	 			<div class="description-about col-xs-12">
	 				<h2 class="section-headline text-center">who we are</h2>
	 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
	 			</div>
	 		</div>
	 	</div>
 	</section>

</div>


{% endblock %}

{% block script %}
<script src="/static/js/animatesvg.js"></script>
<script src="/static/js/landingpage.js"></script>

{% endblock %}

<!-- If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. -->
