{% extends "base.html" %}
{% block content %}

<div id="form-page">

  <form id="login" action="" method=post class="form-horizontal">
    <h2>Login</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Username" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Password" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
  </form>

  <div id="login-links" class="control-group">
      <div class="controls">
        <div class="link">
          New here? <a href="{{ url_for('register') }}">Create an account.</a>
        </div>
        <div class="link">
          <a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
        </div>
      </div>
  </div>

</div>

{% endblock %}