{% extends 'base.html' %}
{% block title %}Choice Starter{% endblock %}
{% block content %}

<div class="container page-organizations col-xs-12">

	<header class="section section-hero">
		<div class="image-hero"></div>
		<h1 class="organization-name">The Lillith Fund</h1>
 		<h2 class="hero-headline text-center col-md-10">The Lillith Fund helps people pay for an abortion when they can’t afford it.</h2>
 		<div class="col-xs-12 text-center">
 			<a href="donate" class="btn btn-hero">Give Now</a>
 		</div>
 	</header>

 	<section class="section section-intro">
 		<div class="col-xs-12 col-md-4 col-md-offset-6">
	 		<div class="progress-bar-container">
	 			<div class="progress-bar progress-bar-1">
	 				<p>$300 to go</p>
	 			</div>
	 		</div>
 		</div>
 		<div class="col-xs-12 col-md-10 col-md-offset-2">
 			<p>1 IN 4  melius an vel, ex possit ponderum vis, et sed audire pericula.</p>
 			<p>3 Invenire patrioque voluptatibus mea ad.</p>
 			<p>3000 Consulatu cotidieque ex vis.</p>
 		</div>
 	</section>

  	<section class="section section-about">
  		<div class="col-md-10 col-md-offset-1">
  			<h2 class="section-headline text-center">Testimonials</h2>
  		</div>
  		<div class="col-md-10 col-md-offset-1">
 	 		<div class="col-xs-12 col-md-4">
 	 			<div class="shadow-container">
 		 			<div class="description-about">
 		 				<h3 class="text-center">A Volunteer</h3>
 		 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
 		 			</div>
  				</div>
 	 		</div>
 	 		<div class="col-xs-12 col-md-4">
 	 			<div class="shadow-container">
 		 			<div class="description-about">
 		 				<h3 class="text-center">A Volunteer</h3>
 		 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
 		 			</div>
 	 			</div>
 	 		</div>
 	 		<div class="col-xs-12 col-md-4">
 	 			<div class="shadow-container">
 		 			<div class="description-about">
 		 				<h3 class="text-center">A Volunteer</h3>
 		 				<p class="text-center">Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
 		 			</div>
 		 		</div>
 	 		</div>
 	 	</div>
  	</section>

  	<section class="section section-contact">
  		<div class="col-xs-12">
  			<div class="col-md-10 col-md-offset-1">
  				<h2 class="section-headline text-center">Contact Us</h2>
  				<p class="address text-center">
  					<span class="address-line-1">P.O. Box 759</span><br>
  					<span class="address-line-2">Anytown, USA</span><br>
  					<span class="address-line-3">93856</span>
  				</p>
  			</div>
  		</div>
  	</section>

</div>


{% endblock %}

{% block script %}

{% endblock %}
